<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style type="text/css">
        .main {
            position: fixed;
            top: 30%;
            left: 40%;
            color: #555555;
            font-size: 24pt;
        }

        .dateStyle {

        }

        .timeStyle {

        }

        .space {
            width: 1.5em;
        }
    </style>

</head>

<body>

<div class="main">
    <h1>No Auth needed</h1>
    <a href="/time">Show Current Time</a>
</div>

</body>
</html>
